<div class="wrapper-index-background">
  <h1 class="font-text-space">Vagas exclusivamente para programador</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="wrapper-index-filters font-text-space">
        <h3>Categorias</h3>
        <ul>
          <li>Java
            <% counter = 0 %>
            <% @jobs.each do |job| %>
              <% if job.description.include?("Java") || job.description.include?("JAVA")  %>
                <% counter += 1 %>
              <% end %>
              <% counter %>
            <% end %>
            <span class="badge-counter gray"> <%= counter %></span>
          </li>
          <li>Objective C</li>
          <li>Php</li>
          <li>Python</li>
          <li>C++ </li>
          <li>JavaScript </li>
          <li>C# </li>
          <li>Ruby</li>
          <li>HTML </li>
          <li>Swift</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="wrapper-index-jobs">
        <h3>Todas as Vagas</h3>

        <div class="cell-list">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Vagas programador -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8238946039424735"
               data-ad-slot="4488589603"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <div class="cell-list">
          <form action="http://www.google.com.br" id="cse-search-box" target="_blank">
            <div>
              <input type="hidden" name="cx" value="partner-pub-8238946039424735:9658662405" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="text" name="q" size="55" />
              <input type="submit" name="sa" value="Search" />
            </div>
          </form>

          <script type="text/javascript" src="http://www.google.com.br/coop/cse/brand?form=cse-search-box&amp;lang=pt"></script>
        </div>

        <% @jobs.each do |job| %>
          <div class="cell-list">
            <%= link_to job_path(job) do %>
              <h2><%= job.job_title %></h2>
              <div class="cell-list-content-icon font-text-space gray" >
                <span><i class="fa fa-briefcase icons"></i><%= job.company %></span>
                <span class="text-center"><i class="fa fa-map-marker icons"></i><%= job.city %></span>
              </div>
              <p class="font-text-space gray"><%= job.description.first(120) %>...</p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @paginates %>
      </div>
      <br>
    </div>
  </div>
</div>
