<div class="wrapper-show-job-title">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to jobs_path do %>
          <span><i class="fa fa-chevron-left"></i> Voltar as vagas</span>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="wrapper-job-title">
          <h1><%= @job.job_title %></h1>
          <span class="next-previous-job">
            <% if @job.id > 1 %>
              <a href="http://localhost:3000/jobs/<%= @job.id - 1%>">
                <i class="fa fa-chevron-left"></i>
              </a>
            <% end %>
            <% if @job.id == @jobs.last.id %>
            <% else %>
              <a href="http://localhost:3000/jobs/<%= @job.id + 1%>">
                <i class="fa fa-chevron-right"></i>
              </a>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="icons-show-layout font-text-space gray" >
        <div><i class="fa fa-briefcase icons"></i> <%= @job.company %></div>
        <div><i class="fa fa-map-marker icons"></i> <%= @job.city %></div>
        <div><i class="fa fa-usd icons"></i> <%= @job.salary %></div>
        <div><i class="fa fa-file-text icons"></i> <%= @job.contract %></div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="wrapper-show-job-descriptions font-text-grey-space">
        <p><%= @job.description %></p>
        <br>
        <h2>Perfil / Exigências</h2>
        <p><%= @job.candidate_description %></p>
        <br>
        <h2>Sobre <%= @job.company %></h2>
        <p><%= @job.company_description %></p>
        <br>
        <div class="text-center">
          <a href="<%= @job.url %>" class="btn btn-success btn-lg" target="_blank">CANDIDATAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
